<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unnamedsoftware.russesamfunnet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        tools:replace="android:label"
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/logo_v3_72x72_round"
        android:label="Russesamfunnet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Feed"
            android:label="@string/app_name" />
        <activity
            android:name=".Register"
            android:label="@string/app_name" />
        <activity
            android:name=".Scoreboard"
            android:label="@string/app_name"
            android:parentActivityName=".Feed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Feed" />
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="@string/app_name"
            android:parentActivityName=".Feed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Feed" />
        </activity>
        <activity
            android:name=".KnotList"
            android:label="@string/app_name"
            android:parentActivityName=".Feed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Feed" />
        </activity>
        <activity
            android:name=".Knot"
            android:label="@string/app_name"
            android:parentActivityName=".KnotList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KnotList" />
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/app_name"
            android:parentActivityName=".Feed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Feed" />
        </activity>
        <activity
            android:name=".ReportABug"
            android:label="@string/app_name"
            android:parentActivityName=".Feed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Feed" />
        </activity>
        <activity
            android:name=".Events"
            android:label="@string/app_name"
            android:parentActivityName=".Feed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Feed" />
        </activity>

        <activity
            android:name=".GroupList"
            android:label="@string/app_name"
            android:parentActivityName=".Feed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Feed" />
        </activity>
        <activity
            android:name=".AddUserToGroup"
            android:label="@string/app_name"
            android:parentActivityName=".GroupList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GroupList" />
        </activity>

        <activity
            android:name=".GroupHub"
            android:label="@string/app_name"
            android:parentActivityName=".GroupList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GroupList" />
        </activity>
        <activity
            android:name=".GroupScoreboardMembersList"
            android:label="@string/app_name"
            android:parentActivityName=".GroupHub">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GroupHub" />
        </activity>

        <activity
            android:name=".CropImage"
            android:label="@string/app_name"
            android:parentActivityName=".UserProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfile" />
        </activity>

        <activity
            android:name=".RussCardCamera"
            android:label="@string/app_name"
            android:parentActivityName=".UserProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserProfile" />
        </activity>


        <activity
            android:name=".BirthdayRegisterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Register"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SchoolRegisterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".BirthdayRegisterActivity"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WitnessSelection"
            android:label="@string/app_name"
            android:parentActivityName=".Knot"
            android:windowSoftInputMode="adjustResize" />
    </application>


</manifest>